.item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px;
  background-color: #f2fedc61;
  border: 2px solid #B2D796;
  border-radius: 8px;
  box-shadow: -1px 6px 30px -10px rgba(0,0,0,0.75);
}

.status {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #cb2c42;
}
.status.online {
  background-color: #00917b;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #005b4b;
  transition: transform 250ms ease;
}
.avatar:hover {
  transform: scale(1.1);
}

.name {
  font-size: 20px;
  font-weight: 500;
}
