.transactions {
  max-height: 90vh;
  overflow-y: scroll;
}
.head {
    font-size: 24px;
    font-weight: 600;
    background-color:#FFC1C0;
}
.row {
    padding: 4px;
}

th {
    padding: 4px 8px;
    margin-right: 12px;
}